.header { 
  margin-bottom: 1rem;
}

.columns { 
  width: calc(100vw - 2rem);

  display: flex;
  flex-direction: row;
}

.columnLeft { 
  flex: .44;
  padding-right: 1rem;
}
.columnRight { 
  flex: .66;
}

.larger { 
  font-size: x-large;
}

.imageContainer { 
  border-radius: 1rem;
}

.imageFocus { 
  position: relative;
  height: 512px;
}

.imageFocus img {
  border-radius: 1rem;
}

.imageThumb { 
  position: relative;
  height: 96px;

  border-radius: 1rem;
}

.imageThumb img { 
  border-radius: 1rem;
}

.images { 
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem;
  margin-top: 1rem;
}

@media (max-width: 720px) {
  .columns {
    flex-direction: column;
  }
}
